[submodule "ndn-tools"]
	path = ndn-tools
	url = https://github.com/named-data/ndn-tools
[submodule "ndn-cxx"]
	path = ndn-cxx
	url = https://github.com/named-data/ndn-cxx
[submodule "NFD"]
	path = NFD
	url = https://github.com/named-data/NFD
[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl
[submodule "ndnSIM"]
	path = ndnSIM
	url = https://github.com/named-data-ndnSIM/ndnSIM
[submodule "name-based-access-control"]
	path = name-based-access-control
	url = https://github.com/named-data/name-based-access-control
